# /usr/lib/systemd/system/jupyterhub.service

[Unit]
Description = JupyterHub
After = network-online.target 

[Service]
User = root
PIDFile = /var/run/jupyterhub.pid
ExecStart = /usr/local/bin/jupyterhub -f /usr/local/etc/jupyterhub_docker_config.py
#ExecStart = /usr/local/bin/jupyterhub -f /usr/local/etc/jupyterhub_podman_config.py
WorkingDirectory = /var/lib/jupyterhub

[Install]
WantedBy = multi-user.target
